body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

header{
background:linear-gradient(135deg,#4e54c8,#8f94fb);
color:white;
text-align:center;
padding:40px;
}

nav{
display:flex;
justify-content:center;
background:#222;
}

nav a{
color:white;
padding:15px;
text-decoration:none;
}

nav a:hover{
background:#444;
}

.card{
background:white;
margin:20px auto;
padding:20px;
width:85%;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.skills span{
background:#4e54c8;
color:white;
padding:8px 12px;
margin:5px;
display:inline-block;
border-radius:20px;
}

.timeline{
margin-bottom:15px;
border-left:4px solid #4e54c8;
padding-left:10px;
}
